.page {
    display: block;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    min-height: 100vh;
    max-width: 100vw;
}

.page > .pagePaddingTop{
}

.page > .pageContent{
    height: auto;
    min-height: calc(100vh - 96px);
    display: flex;
    width: 100%;
    position: relative;
    padding: 16px;
}

.logo {
    width: 48px;
    height: 48px;
    margin-right: 12px;
    cursor: pointer;
}

.title{
    width: 100%;
    cursor: pointer;
}

.avatar{
    cursor: pointer;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 32px 0;
}

.footerOneColumn{
    width: 100%;
}

.log{
    display: block;
    width: 100%;
    height: 30px;
    position: relative;
    font-size: 11px;
}

.copyright {
    font-size: 12px;
    margin: 12px;
    text-align: center;
    user-select: none;
    font-weight: bold;
}

a:visited {
    color: inherit;
}
