.settings{}

.form{}

.form > div{
    width: 100%;
    margin-bottom: 24px;
}

.menu{
    border-style: solid;
    border-color: rgba(0,0,0,0.25);
    border-width: 1px;
    border-radius: 5px;
    margin-bottom: 32px;
}
