.account {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    min-height: inherit;
}

.userLayout {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 32px;
    background-color: #0000001a;
}

.userBox{
    padding: 8px;
    margin-bottom: 32px;
    display: table;
    margin-left: auto;
    margin-right: auto;
}

.avatar{
    margin-left: auto;
    margin-right: auto;
    width: auto;
    display: table;
    padding: 8px;
    cursor: pointer;
}

.userNameContainer{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    display: table;
    padding: 8px;
    cursor: pointer;
}

.userName{}

.status {
    display: flex;
    justify-content: center;
}

.content{
    min-height: 128px;
    padding: 32px;
}

.titleContainer {
    width: 100%;
    overflow: hidden;
}
.title {}

@media (max-width:599px) {
    .content{
        padding: 16px;
    }
}
